{% extends 'blog/base.html' %}
{% block title %}Buscar Entrada{% endblock %}
{% block content %}
<h2>Buscar Entrada</h2>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Buscar</button>
</form>
{% if entradas %}
    <ul>
    {% for entrada in entradas %}
        <li>{{ entrada.titulo }} - {{ entrada.autor.nombre }} ({{ entrada.categoria.nombre }})</li>
    {% endfor %}
    </ul>
{% elif entradas is not None %}
    <p>No se encontraron entradas.</p>
{% endif %}
{% endblock %}