{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog de Pádel{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo_1.webp' %}">
</head>
<body>
    <header class="main-header">
    <div class="header-logo-nav">
        <a href="{% url 'home' %}" class="header-logo-link">
            <img src="{% static 'img/logo_1.webp' %}" alt="Logo Pádel" class="header-logo-img">
            <span class="header-title">Blog de Pádel</span>
        </a>
        <nav class="header-nav">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'pages_list' %}">Noticias</a>
            <a href="{% url 'torneos_list' %}">Torneos</a>
            <a href="{% url 'jugadores_list' %}">Jugadores</a>
            <a href="{% url 'about' %}">Sobre Nosotros</a>
            <a href="{% url 'login' %}">Ingresar</a>
        </nav>
    </div>
</header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-padel">
            <img src="{% static 'img/logo_1.webp' %}" alt="Logo pádel" style="height:30px;">
            <span>Comunidad de Pádel &copy; 2025 - Síguenos en
                <a href="https://www.instagram.com/" target="_blank">Instagram</a> y <a href="https://www.facebook.com/" target="_blank">Facebook</a>
            </span>
        </div>
        <small>Sitio hecho en Django por Martín Castro</small>
    </footer>
</body>
</html>